/* Site */

.stations-container {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Tabelle */

.stations-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

.table-container {
    width: 100%;
    margin-top: 20px;
}

.stations-container td,
th {
    border: 1px solid #434343;
    text-align: left;
    padding: 8px;
}

.stations-container tr th {
    color: #ea5f03;
}

.stations-container tr th:hover {
    cursor: pointer;
    background-color: #3d3d3d;
}

tr:nth-child(even) {
    background-color: #1a1a1a;
}

tr:nth-child(odd) {
    background-color: rgb(46, 46, 46);
}




/* Searchbar */
.search-container {
    display: flex;
    align-items: flex-start;
}

.search-container input {
    background-color: rgb(46, 46, 46);
    border: none;
    padding: 8px;
    width: 300px;
    color: #fff;
    font-family: Arial, FontAwesome;
}

input,
select,
textarea {
    color: #fff;
}

textarea:focus,
input:focus {
    color: #fff;
}


/* Arrow Alignment */

/* Arrow Wrapper Styles */
.arrow-wrapper {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    position: relative;
    right: 30px;
}


.icon-container {
    margin-right: 10px; /* Abstand zwischen Pfeil und Text */
    font-size: 32px;
}

.title {
    color: #fff;
    margin: 0;
}
