/* Stations Table */

.stations-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Tabelle */

.stations-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #fff;
    table-layout: fixed; /* Set table layout to fixed */
}

.table-container {
    margin-top: 20px;
}

.stations-container th,
.stations-container td {
    border: 1px solid #434343;
    text-align: left;
    padding: 8px;
    width: 20%; /* Equal width for all columns (adjust as needed) */
}

.stations-container tr th {
    color: #ea5f03;
}

.stations-container tr th:hover {
    cursor: pointer;
    background-color: #3d3d3d;
}

tr:nth-child(even) {
    background-color: #1a1a1a;
}

tr:nth-child(odd) {
    background-color: rgb(46, 46, 46);
}

.stations-container h1 {
    color: #fff;
    margin: 20px 0px 20px 0px;
}



/* Searchbar */
.search-container {
    display: flex;
    align-items: flex-start;
    
}

.search-container input {
    background-color: rgb(46, 46, 46);
    border: none;
    padding: 8px;
    width: 300px;
    color: #fff;
    font-family: Arial, FontAwesome;

    
}

::placeholder {
    color: #9b9b9b;
    opacity: 1;
  }