/* Universal CSS */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: rgb(41, 41, 41);
  overflow-x: hidden;
}

/* Preloader */

.preloader {
  height: 100vh;
  width: 100%;
  background: #000;
  position: fixed;
  z-index: 100;
  margin-top: 0;
}

.preloader video {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px;
}



header nav ul a#login,
a#sign-up {
  border: 1px solid #AE4A06;
  width: 60px;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}

header nav ul a#sign-up {
  background-color: #AE4A06;
}

header nav ul a {
  display: inline-block;
  padding: 15px;
}

header nav ul li a {
  padding: 20px;
}

header nav ul a img,
header nav ul a svg {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  overflow: hidden;
  transform: scale(1.5);
}

/*header nav ul a:hover {
  background-color: #AE4A06;
}
*/
header nav ul a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

/* Directory */

.directory {
  background-color: #434343;
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.22);
}

.directory-content a {
  color: #ea5f03;
  margin: 10px;
}

.directory-content {
  margin-left: 50px;
}

.directory i {
  color: #ea5f03;
}